<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/events.css">
</head>
<body>

    <div id="navbar"></div>

    <div class="event-hero">
        <h1>Welcome to Ganesh Housing Society</h1>
        <div class="hero-buttons">
            <button id="Organizebtn">Organize Event</button>
            <button id="Viewbtn">View event</button>
            <button id="Myeventbtn">My event</button>
        </div>
    </div>

    <script src="../js/navbar.js"></script>
    <script src="../js/events.js"></script>
</body>
</html>
