<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="/assets/css/list.css">
</head>
<body>
    <main>
        <h2>List</h2>
        <table class="list-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be populated here -->
            </tbody>
        </table>
        <button id="backbtn" onclick="window.location.href='event-details.html'">Back</button>
    </main>

</body>
</html>
