<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/my_event_details.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="main-content">
        <div class="left-section">
            <h2 class="centered">Event Details</h2>
            <div class="details-container">
                <div class="row">
                    <div class="detail-card">
                        <div class="card-content">
                            <h3>Number of Participants</h3>
                            <p>30</p>
                        </div>
                    </div>
                    <div class="detail-card">
                        <div class="card-content">
                            <h3>Number of Volunteers</h3>
                            <p>10</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="detail-card">
                        <div class="card-content">
                            <h3>Attendees</h3>
                            <p>John Doe, Jane Smith</p>
                        </div>
                    </div>
                    <div class="detail-card">
                        <div class="card-content">
                            <h3>Volunteers</h3>
                            <p>Amy Johnson, Mark Davis</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <button id="backbtn" onclick="window.location.href='my_event.html'">Back</button>
            <button id="backbtn" onclick="window.location.href='events.html'">Home</button>
        </div>
    </div>
    <script src="../js/navbar.js"></script>

</body>
</html>
