<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My events</title>
    <link rel="stylesheet" href="/assets/css/my_event.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <div id="navbar"></div>
    <section class="organizer-section">
        <div class="organizer-info">
            <img src="/assets/images/organizer-bg.jpeg" class="profile-pic">
            <div class="info-text">
                <h2>Event Organizer Name</h2>
                <p class="role">Organizer</p>
                <p class="role">+91 XXXXXXXXXX</p>
            </div>
        </div>
    </section>

    <section class="event-list-section">
        <h2>Event List</h2>
        <p>Manage your upcoming events</p>

        <div class="event-list">
            <button class="event-item1">
                <img src="/assets/images/event1bg.jpeg" class="event-image">
                <h3>Event 1</h3>
                <p>July 25, 2023</p>
            </button>

            <button class="event-item2">
                <img src="/assets/images/event2bg.jpeg" class="event-image">
                <h3>Event 2</h3>
                <p>July 25, 2023</p>
            </button>

            <button class="event-item3">
                <img src="/assets/images/event3bg.jpeg" class="event-image">
                <h3>Event 3</h3>
                <p>July 25, 2023</p>
            </button>

            <button class="event-item4">
                <img src="/assets/images/event4bg.jpeg" class="event-image">
                <h3>Event 4</h3>
                <p>July 25, 2023</p>
            </button>
        </div>
    </section>
    <script src="../js/navbar.js"></script>
    <script src="../js/my_event.js"></script>
</body>
</html>