<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Events</title>
    <link rel="stylesheet" href="/assets/css/view_event.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="event-container">
        <h1>View Events</h1>
        <button onclick="window.location.href='../components/events.html'">Back </button>
    </div>
    <script src="../js/navbar.js"></script>
</body>
</html>
