body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.organizer-section {
    background-color: #d0d0d0;
    color: #000000;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.organizer-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.info-text h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.info-text .role,
.info-text .contact {
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.event-list-section {
    padding: 20px;
    text-align: left;
}

.event-list-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.event-list-section p {
    font-size: 18px;
    color: #666;
}

.event-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.event-item {
    display: flex;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 20vh;
    height: 20vh;
    background-color: #e0e0e0;
    border-radius: 10%;
    margin-right: 20px;
}

.event-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.event-text h3 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.event-text p {
    color: #666;
    font-size: 20px;
    margin-top: 10px;
}
#backbtn {
    width: 10%;
    font-weight: bold;
    margin-top: 50px;
    font-size: large;
    padding: 10px; 
}
